/* COMMONS */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000a12;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 20px;
  color: #4a4a4a;
}

h1 {
  font-size: 24px;
  line-height: 50px;
  color: #333333;
  background-color: white;
  padding: 0 10px 0 20px;
  border-radius: 25px;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

h1 i {
  color: #00a680;
  vertical-align: middle;
}

h1:hover i {
  color: #19e6b6;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* ICONS */
.icon-micro {
  font-size: 12px;
  vertical-align: middle;
}

.icon-small {
  font-size: 14px;
}

.icon-medium {
  font-size: 22px;
}

.icon-large {
  font-size: 33px;
}

/* PADDING */
.pl-20 {
  padding-left: 20px;
}

.p-25 {
  padding: 25px;
}

/* BUTTON */
.btn {
  background-color: rgb(7, 129, 113);
  color: white;
  font-size: 14px;
  line-height: 36px;
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(6, 105, 92);
}

/* ALIGN */
.text-center {
  text-align: center;
}

/* HEADER */
header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
}

header img {
  width: 180px;
}

header>div {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header ul a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header li {
  padding-left: 20px;
}

header span {
  font-size: 12px;
  margin-top: 2px;
}

header a {
  color: rgb(0, 10, 18);
  text-decoration: inherit;
}

header a:hover {
  color: rgb(7, 129, 113);
}

/* MENU */
menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
  margin-bottom: 100px;
}

.breadcrumbs {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs ul {
  display: flex;
}

.breadcrumbs i {
  padding: 0 5px;
}

.breadcrumbs a {
  line-height: 40px;
  color: inherit;
  text-decoration: inherit;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* RESET LOCATION */
.reset-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 10, 18, 0.6);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 5px;
}

.reset-location:hover {
  background-color: rgba(0, 10, 18, 1);
  cursor: pointer;
}

.reset-location i {
  font-size: 18px;
  color: white;
}

/* NAV */
nav {
  position: absolute;
  left: 0;
  bottom: -75px;
  width: 100%;
  /* background-color: lawngreen; */
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  background-color: white;
}

nav li {
  padding: 24px 46px 10px 46px;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
}

nav a:hover span {
  text-decoration: underline;
}

nav span {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

nav i {
  color: #00a680;
}

/* MAIN */
main {
  display: flex;
}

main>div {
  flex: 1;
}

aside {
  width: 23%;
}

aside>div {
  background-color: white;
  padding: 25px;
  margin-bottom: 15px;
}

/* UNLOCK */
aside .unlock img {
  width: 135px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

aside .unlock li {
  display: flex;
}

/* aside .unlock p {
  margin-bottom: 15px;
} */
aside .unlock li {
  margin-bottom: 15px;
}

aside .unlock li:last-child {
  margin-bottom: 35px;
}

/* aside .unlock li:last-child p {
  margin-bottom: 35px;
} */
.bullet {
  display: flex;
  align-items: center;
  font-size: 30px;
  /* margin-top: -15px; */
  color: #4a4a4a;
  margin-right: 12px;
}

.btn-white {
  line-height: 36px;
  border: solid 1px #d6d6d6;
  width: 100%;
  padding: 0 12px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

.btn-white:hover {
  border-color: #767676;
  cursor: pointer;
}

/* EXPLORE */
aside .explore a {
  color: inherit;
  text-decoration: inherit;
}

aside .explore a:hover {
  text-decoration: underline;
}

aside .explore ul li:first-child {
  font-weight: bold;
}

aside .explore ul li {
  line-height: 22px;
}

aside .explore ul {
  margin-bottom: 10px;
}

aside .explore img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* SECTION */
section>div {
  background-color: white;
  margin: 0 25px;
}

section span a {
  text-decoration: inherit;
  color: #00a680;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

section span i {
  color: #00a680;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery>div {
  width: 50%;
  height: 170px;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}

.gallery>div:nth-child(odd) {
  border-right: 2px solid white;
}

.gallery>div:last-child>div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

/* SHARE */
aside2 {
  width: 23%;
}

aside2>div {
  background-color: white;
  padding: 25px;
  margin-bottom: 15px;
}

aside2 ul a {
  display: flex;
  align-items: center;
  color: #00a680;
  text-decoration: none;
}

aside span {
  font-size: 14px;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 1240px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  aside {
    display: none;
  }

  section>div {
    margin: 0;
  }

  nav>ul {
    width: 100%;
  }

  nav li {
    flex: 1;
    padding: 24px 0 10px 0;
  }
}